{
    "ns_app_key_primary": "redacted",
    "startmoment": "2021-03-09T06:25:00+0100",
    "route": [
        "gn",
        "lw",
        "asd",
        "rtd",
        "rb",
        "ut",
        "vl"
    ]
}